fastapi
uvicorn
asyncpg
aio-pika
kubernetes_asyncio
pydantic
pyyaml
pydantic-settings
minio
jinja2
aiofiles
python-json-logger
contextvars
pytest
pytest-asyncio
pytest-mock
testcontainers[postgres]
testcontainers[rabbitmq]
redis>=5.0.0
testcontainers[redis]
PyJWT[crypto]>=2.8.0